<meta charset="utf-8">
.cp_bgpattern12 {
	background-color: transparent;
	background-image:
	 radial-gradient(#F48FB1 3px, transparent 3px);
	background-size: 300px 300px;
}
.top{
	width: 15%;
  	display: table-cell;
	font-weight:bold;
	font-size: 20px;
	}
.account{
	width: 98%;
  	text-align : right;
	font-size: 15px;
  	}

br {
	display: block;
	content: "";
	margin: 50px 0;
}

.titlebar{
		width: 100%;
  	  	display: table;
  	  	background-color: #ffe4e1;
 		color:#696969;
		}

.user{
  		width: 10%;
		font-size: 15px;
		margin-right: 10px;
		float: right;

}
/*
* {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0px;
	font-family: Comic Sans MS;
}
*/
